*.txt
*.pcap
*.csv
.idea

offline_identify/.idea
offline_identify/data
offline_identify/systemlogs/*

offline_identify/classify/DPI/*
offline_identify/classify/ML/decision_tree/*
!offline_identify/classify/DPI/*.go
!offline_identify/classify/ML/decision_tree/*.go

realtime_identify/.idea
realtime_identify/systemlogs/*

realtime_identify/classify/DPI/*
realtime_identify/classify/ML/decision_tree/*
!realtime_identify/classify/DPI/*.go
!realtime_identify/classify/ML/decision_tree/*.go